<div class="col-12 col-sm-6 col-md-3 app-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%- app.title %></h4>
      <% if (app.description) { %>
        <p class="card-text"><%- app.description %></p>
      <% } %>
      <a href="https://<%= app.upstream.subdomain %>.<%= proxy.domain %>:<%= proxy.port %>"
          class="card-link">
        Access content
      </a>
    </div>
  </div>
</div>
